@import '../../arg.scss';

.indexBanner{
  position:relative;
  &-img{
    width:750rpx;
    height:400rpx;
  }
  &-imgs{
    height:400rpx;
  }
  &-dots{
    position:absolute;
    left:0;
    right:0;
    bottom:65rpx;
  }
  &-dot{
    width:14rpx;
    height:14rpx;
    border-radius:100%;
    background:rgba(255,255,255,1);
    margin:0 8rpx;
    opacity:.44;
    &.ison{
      opacity:1;
    }
  }
}

.indexSearch{
  width:670rpx;
  height:90rpx;
  line-height:90rpx;
  background:rgba(255,255,255,1);
  border-radius:8rpx;
  margin:0 auto;
  margin-top:-45rpx;
  position:relative;
  z-index:2;
  box-shadow:0 11rpx 20rpx 0rpx rgba(0,0,0,0.08);
  &-area{
    font-size:28rpx;
    color:#12213E;
    margin-left:28rpx;
    background:#FFF;
    &:after{
      content:'';
      display:inline-block;
      width:10rpx;
      height:7rpx;
      background:url(#{$domain}more.png) 0 0 no-repeat;
      background-size:100% 100%;
      margin-left:10rpx;
      vertical-align:top;
      margin-top:42rpx;
    }
  }
  &-input{
    i{
      width:37rpx;
      height:90rpx;
      vertical-align:top;
      background:url(#{$domain}search.png) center center no-repeat;
      background-size:37rpx 35rpx;
      margin-left:36rpx;
      margin-right:18rpx;
    }
    input{
      height:90rpx;
    }
    font-size:28rpx;
    font-family:PingFangSC-Regular;
    //color:rgba(144,151,163,1);
  }
}
.indexNav{
  margin-top:66rpx;
  &-item{
    margin-bottom:40rpx;
    width:25%;
    background-size:96rpx 96rpx;
    background-position:center top;
    background-repeat:no-repeat;
    padding-top:116rpx;
    text-align:center;
    &.i1{
      background-image:url(#{$domain}nav-i1.png);
    }
    &.i2{
      background-image:url(#{$domain}nav-i2.png);
    }
    &.i3{
      background-image:url(#{$domain}nav-i3.png);
    }
    &.i4{
      background-image:url(#{$domain}nav-i4.png);
    }
    &.i5{
      background-image:url(#{$domain}nav-i5.png);
    }
    font-size:28rpx;
    color:#12213E;
    line-height:1;
  }

}
.indexTopNews{
  swiper{
    height:72rpx;
  }
  &-item{
    font-size:26rpx;
    line-height:36rpx;
    color:$c1;
    margin-left:20rpx;
    height:72rpx;
    overflow:hidden;
    margin-top:2rpx;
  }
  height:75rpx;
  margin:0rpx 52rpx 0 40rpx;
  padding-left:92rpx;
  background-position:left center;
  background-repeat:no-repeat;
  background-size:92rpx 75rpx;
  pointer-events:none;
}
.gtitle{
  &-text{
    color:$c1;
    font-size:38rpx;
    height:78rpx;
    line-height:1;
    font-weight:bold;
  }
  &-link{
    font-size:28rpx;
    color:#9097A3;
    line-height:38rpx;
    &:after{
      content:'';
      width:12rpx;
      height:21rpx;
      display:inline-block;
      background:url(#{$domain}rarrow.png) 0 0 no-repeat;
      background-size:100% 100%;
      vertical-align:top;
      position:relative;
      top:9rpx;
      margin-left:16rpx;
    }
  }
}
.recommandHouse{
  margin-top:50rpx;
}
.rhouse{
  &-tag{
    position:absolute;
    left:0;
    top:0;
    width:110rpx;
    height:38rpx;
    background:linear-gradient(137.7deg,rgba(106,155,255,1),rgba(47,112,246,1));
    border-radius:8rpx 0rpx 8rpx 0rpx;
    font-size:22rpx;
    text-align:center;
    line-height:38rpx;
    color:#fff;
  }
  &-img{
    position:relative;
    height:260rpx;
  }
  &-info{
    padding-top:30rpx;
  }
  &-sinfo{
    text-align:right;
  }
  &-title{
    font-size:32rpx;
    color:$c1;
    line-height:1;
    margin-bottom:22rpx;
  }
  &-comp{
    color:#9097A3;
    font-size:26rpx;
    line-height:1;
  }
  &-money{
    color:#FF601B;
    font-size:38rpx;
    margin-bottom:22rpx;
    line-height:1;
    margin-top:-6rpx;
    font-family:'DINMittelschriftLT';
  }
  &-unit{
    font-size:24rpx;
  }
  &-label{
    text-align:right;
    line-height:1;
    font-size:26rpx;
    color:#9097A3;
  }
}
.rhouse2{
  &-list{
    margin-top:30rpx;
  }
  &-sub{
    height:34rpx;
  }
  &-onelist{
    margin-top:0;
    white-space:nowrap;
    .rhouse2{
      display:inline-block;
      margin-right:26rpx;
      &:first-child{
        margin-left:40rpx;
      }
    }
  }
  &-tag{
    position:absolute;
    left:0;
    top:0;
    width:110rpx;
    height:38rpx;
    background:linear-gradient(137.7deg,rgba(106,155,255,1),rgba(47,112,246,1));
    border-radius:8rpx 0rpx 8rpx 0rpx;
    font-size:22rpx;
    text-align:center;
    line-height:38rpx;
    color:#fff;
  }
  width:322rpx;
  &-pic{
    position:relative;
    width:322rpx;
    height:210rpx;
    border-radius:8rpx;
    overflow:hidden;
  }
  &-title{
    color:$c1;
    font-size:32rpx;
    height:40rpx;
    line-height:40rpx;
    overflow:hidden;
    margin-top:26rpx;
    margin-bottom:18rpx;
  }
  &-label{
    color:#9097A3;
    font-size:26rpx;
  }
  &-money{
    color:#FF601B;
    font-size:38rpx;
    margin-bottom:22rpx;
    line-height:1;
    font-family:'DINMittelschriftLT';
  }
  &-unit{
    font-size:24rpx;
  }
}
.recomShort{
  overflow:hidden;
  .inner{
    margin-right:-20rpx;
  }
  .rhouse2{
    float:left;
    margin-bottom:30rpx;
    margin-right:20rpx;
  }
}
